extends layout

block content
  h1= title
  p User Name: #{user.user_name}
  p Email ID: #{user.email_id}
  p Role: #{user.role}
  p Date of Joining: #{user.date_of_joining.toDateString()} // Assuming date_of_joining is a JavaScript Date object
